@font-face {
    font-family: 'Poppins-Regular';
    src: url(/fonts/Poppins-Regular.ttf);
}

body {
    background: linear-gradient(90deg, #0136F9 16%, #000000 100%);
    font-family: 'Poppins-Regular', serif;
}

.nav-link {
    color: #a6a6a6;
}

.navbar-nav .nav-link.active {
    color: aquamarine;
}

.navbar-brand img {
    width: 40px;
}

.navbar-toggler {
    background-color: #a6a6a6;
}

.sidebar {
    background: linear-gradient(270deg, #051659 16%, #0c0f18 100%);
}

.card,
.btn-primary{
    background: linear-gradient(270deg, #0136F9 16%, #000000 100%);
    color: aquamarine;
}

.card a {
    text-decoration: none;
    color: aquamarine;
}

.slide-text,
.footer-text {

    margin: auto auto;
}

p {
    color: aquamarine;
}

footer {
    background: #212529;
}

.media-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-anim {
    animation: myAnim 2s ease 0s infinite normal forwards;
}

@keyframes myAnim {
    0% {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        transform: scale3d(1.05, 0.95, 1);
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}

@media (max-width: 755px) {
    .carousel-indicators {
        display: none;
    }
}
